.dish {
  display: flex;
  flex-direction: column;
  //   max-width: 20rem;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 1.25rem;
  background-color: white;
  box-shadow: 2px 2px 1rem rgba(black, 0.2);
  padding-block: 1rem;

  &__img {
    max-width: 80%;
    max-height: 10rem;
    margin: auto;
    transition: all 0.1s ease;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;

    color: #4a4a4a;
  }

  &__description {
    padding-inline: 1.5rem;
    font-size: 14px;
    color: #838383;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }

  .btn-wrap {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    > * {
      margin: auto;
      padding-inline: 2rem;
    }
  }
}

.food-list {
  max-width: 1350px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1.5rem;
  padding-inline: 4rem;
}
