.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 4rem;
  padding-block: 1.5rem;

  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;

  &__logo {
    width: 7rem;
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;

  & > a {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
    &.active {
      color: orangered;
      opacity: 1;
    }
  }
}
